<html>
<head>
  <title> Compare_Gpu </title>
  <meta charset="utf-8">
  </head>
  <body>
    <p> From the below boxes, select the gpu that you want to compare </p>


   <form method="post" action="/compare">
     Option 1 :
    <select name = "v_1">
      {% for x in gpu_list %}
      <option value="{{ x.name }}">{{ x.name }}</option>
      {% endfor %}
    </select>
    <br/>

    Option 2 :
    <select name = "v_2">
      {% for y in gpu_list %}
      <option value="{{ y.name }}">{{ y.name }}</option>
      {% endfor %}
    </select>
   <br/>
      <input type="submit" name="button" value="Compare"/>
    </form>


  </body>
  </html>
