<html>
  <head>
    <meta charset="utf-8"/>
    <title>User Login/Logout with datastore</title>
  </head>
  <body>
    {% if user %}
    {{ welcome }} {{ user.email() }} welcome to the application<br/>
    Below you will find your details as currently entered into the system<br/>
    <br/>
    Name: {{ user.email() }}<br/>
    To add new gpu  <a href="/edit">click here</a><br/>
    To query the list of gpu  <a href="/search">click here</a><br/>
    To compare the list of gpu  <a href="/compare">click here</a><br/>


    <p>List of gpu</br>
      <p> Below you will see the items that are currently stored in the list </p>
      {% for x in gpu_list %}
      <a href='/display?value={{ x.name }}'>{{ x.name }}</a></br>

      {% endfor %}

    <br/>


    {% else %}
    <p>Hello guest welcome to the application</p>

    {% endif %}

    <p>you can {{ url_string }} <a href='{{ url }}'>here</a></p>



  </body>
</html>
